<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Up</key>
	<array>
		<dict>
			<key>img</key>
			<string>classify4</string>
			<key>id</key>
			<string></string>
		</dict>
		<dict>
			<key>img</key>
			<string>classify3-1</string>
			<key>id</key>
			<string>1</string>
		</dict>
		<dict>
			<key>img</key>
			<string>classify3</string>
			<key>id</key>
			<string>2</string>
		</dict>
		<dict>
			<key>img</key>
			<string>classify2</string>
			<key>id</key>
			<string>3</string>
		</dict>
	</array>
	<key>Down</key>
	<array>
		<dict>
			<key>img</key>
			<string>classify1</string>
			<key>id</key>
			<string>0</string>
		</dict>
		<dict>
			<key>img</key>
			<string>classify6</string>
			<key>id</key>
			<string>1</string>
		</dict>
		<dict>
			<key>img</key>
			<string>classify5</string>
			<key>id</key>
			<string>2</string>
		</dict>
		<dict>
			<key>img</key>
			<string>classify26</string>
			<key>id</key>
			<string>3</string>
		</dict>
		<dict>
			<key>img</key>
			<string>classify4-1</string>
			<key>id</key>
			<string>4</string>
		</dict>
		<dict>
			<key>img</key>
			<string>classify9</string>
			<key>id</key>
			<string>5</string>
		</dict>
		<dict>
			<key>img</key>
			<string>classify8</string>
			<key>id</key>
			<string>6</string>
		</dict>
	</array>
</dict>
</plist>
